<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EquiptmentManagement</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.EMS.Service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.EMS.Service.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>org.EMS.Service.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EqpServlet</servlet-name>
    <servlet-class>org.EMS.Service.EqpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EqpServlet</servlet-name>
    <url-pattern>/EqpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BreakServlet</servlet-name>
    <servlet-class>org.EMS.Service.BreakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BreakServlet</servlet-name>
    <url-pattern>/BreakServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LendServlet</servlet-name>
    <servlet-class>org.EMS.Service.LendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendServlet</servlet-name>
    <url-pattern>/LendServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>org.EMS.Service.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
</web-app>